<!--Theme Small item + header-->
<ion-content no-padding>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12 search-bar-bcg *ngIf="data.isSearch==true">
        <ion-searchbar placeholder="Cari" [(ngModel)]="searchTerm" (ionInput)="onEventFilter('onTextChange', $event)"></ion-searchbar>
      </ion-col>
      <ion-col col-12 class="list-content">
        <ion-list margin-item>
          <ion-list-header header-bcg no-padding no-lines *ngIf="data.noItem==true">
            <ion-icon white icon-large item-start>
              <i class="icon {{data.iconNoItem}}"></i>
            </ion-icon>
            <h1 header-title>{{data.title}}</h1>
            <h2 header-subtitle>{{data.description}}</h2>
          </ion-list-header>
          <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
            <ion-item (click)="onEvent('onItemClick', item, $event)">
              <ion-thumbnail no-margin item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <h2 item-title>{{item.title}}</h2>
              <h3 item-subtitle>{{item.subTitle}}</h3>
              <h3 item-subtitle>{{item.description}}</h3>
              <ion-icon icon-medium item-end>
                <i class="icon icon-chevron-left"></i>
              </ion-icon>
            </ion-item>
            <ion-item-options no-lines>
              <button *ngIf="data.isEdit==true" (click)="onEvent('onEdit', item.id, $event)" transparent>
                  <ion-icon icon-medium>
                    <i class="icon {{item.iconEdit}}"></i>
                  </ion-icon>
              </button>
              <button (click)="onEvent('onDelete', item.id, $event)" transparent>
                <ion-icon icon-medium>
                  <i class="icon {{item.iconDelete}}"></i>
                </ion-icon>
              </button>
              <button (click)="undo(slidingItem)" transparent>
                  <ion-icon icon-medium>
                    <i class="icon {{item.iconUndo}}"></i>
                  </ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- Fab Button -->
<ion-fab #fab bottom right *ngIf="data.isAdd==true">
  <button button-ion-fab ion-fab (click)="onEvent('onFab', item, $event)"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-content>
