/*  # Themes Small item + header
================================================*/
list-item {
  [header-bcg] {
    position: fixed !important;
    top: 56px;
    z-index: 9999;

    [header-subtitle] {
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    [header-description] {
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .item-inner {
      margin-left: 0 !important;
    }

    .label-ios,
    .label-md {
      margin: 25px 8px 15px 0;
    }

    [social] {
      margin-top: 7px;
    }
  }

  [header-description],
  [header-subtitle],
  [header-title] {
    color: theme-colors('textColors', 'accent-first') !important;
  }

  [margin-item]{
    margin: 56px 0px 0px 0px !important;
  }

  ion-item-options {
    border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
  }

  .list-ios{
    .item-ios{
      height: 12vh;
      ion-thumbnail img {
        width: 100%;
        max-width: 70px;
        height: 10vh;
        margin-top: 30px;
        margin-left: 15px;
      }
    }
  }

  .list-header-ios{
    height: 25vh;
  }

  [search-bar-bcg] {
    position: absolute;
    top: 50px;
    z-index: 2;
    right: 0;
    left: 0;

    .searchbar-input {
      background-color: theme-colors('mainColors', 'primary');
      color: theme-colors('textColors', 'primary');
    }
  }
}
