<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Detail Kendaraan</h1>
          <form [formGroup]="vehicleForm">
            <ion-item no-lines padding>
              <div profilePic [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
              </div>
            </ion-item>
            <ion-item>
              <ion-label floating>Plat No</ion-label>
              <ion-input readonly type="text" formControlName="plateNo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tipe Kendaraan</ion-label>
              <ion-input readonly type="text" formControlName="vehicleType"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Warna Kendaraan</ion-label>
              <ion-input readonly type="text" formControlName="color"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Merk</ion-label>
              <ion-input readonly type="text" formControlName="brand"></ion-input>
            </ion-item>
            <ion-item floating>
              <ion-label floating>Masa Berlaku STNK</ion-label>
              <ion-input readonly type="text" formControlName="taxDueDate"></ion-input>
              <!--<ion-datetime readonly displayFormat="DD MMM YYYY" formControlName="taxDueDate"></ion-datetime>-->
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button ion-button block color="secondary" (click)="dismiss()">Tutup</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
