<!--Theme Styled cards 2-->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
      <ion-row>
        <ion-col col-12>
          <ion-searchbar placeholder="Cari" [(ngModel)]="searchTerm" search-bar-bcg (ionInput)="onEventFilter('onTextChange', $event)"></ion-searchbar>
        </ion-col>
      </ion-row>
        <ion-row>
            <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngFor="let item of data.items;let i = index">
                <ion-card text-left (click)="onEvent('onDetail', item, $event)">
                    <div card-image>
                        <img src="{{item.imageUrl}}" />
                    </div>
                    <ion-card-content>
                        <ion-card-title>
                            <h1 card-title>{{item.title}}</h1>
                        </ion-card-title>
                        <p card-body-text>{{item.summary}}</p>
                    </ion-card-content>
                    <!--<button ion-button margin-bottom margin-top button-clear-outline round outline medium float-right margin-right (click)="onEvent('onDetail', item, $event)">
                      Detail
                    </button>-->
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
