page-visitor-list {
  .fab[mini] {
    margin: 8px;
    border-radius: 50%;
    border: 1px ;
    background-color: color($colors,secondary);
  }

}
.img-visitor{
  max-width: 28vw;
  max-height: 30vh;
}

.profileContainer{
  background-color: transparent;
  padding: 5px 8px;
}

.img-profile{
  border-radius: 50%;
  width: 30vw;
  height: 5vh;
}
.text-input-ios{
  padding:5px;
}
