
<ion-content padding>
  <div class="appForm">
    <p>Reset Password Anda</p>
    <ion-list>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="dg" (click)="dismiss('Y')">Kirim</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="primary" (click)="dismiss('N')">Batal</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
