page-forgot-password {
  .content{
    background:rgba(color($colors,hg),.75);
    .scroll-content{
      overflow:hidden;
      display:flex;
      align-items:center;
    }
    .appForm{
      width:90%;
      padding:$mainMarg*2 ;
      background-color: color($colors,light);
      margin:auto;
      border-radius:7px;
    }
    .grid{
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }
}
