<!-- Theme Search bars Simple -->
<ion-content no-padding>
  <ion-grid no-padding>
      <ion-row *ngIf="data != null">
          <ion-col col-12>
              <ion-searchbar placeholder="{{data.placeHolder}}" [(ngModel)]="searchTerm" search-bar-bcg></ion-searchbar>
          </ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block color="ng" (click)="onResetForm()">Reset</button>
            </ion-col>
            <ion-col>
              <button ion-button block color="danger" (click)="onEvent('onSearch', searchTerm, $event)">Cari</button>
            </ion-col>
          </ion-row>
        </ion-grid>
          <!-- List -->
          <ion-col col-12 text-center *ngIf="isDisplay">
            <div class="search-result" *ngIf="data.isFound" padding >
              <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </div>
            <div class="search-result" *ngIf="!data.isFound" padding >
              <ion-icon name="ios-close-circle-outline"></ion-icon>
            </div>
          </ion-col>
      </ion-row>
  </ion-grid>
<ion-content no-padding>
