/*  #Style Search bars Simple
===========================================*/
search-bar-remote {
  [search-bar-bcg] {
    margin-top: 9vh;
    .searchbar-input {
      background-color: transparent;
      color: theme-colors('textColors', 'primary');
    }
  }

  .search-result{
    text-align:center;
    .icon{
      font-size: 15rem;
      color:green;
    }

    .ion-ios-close-circle-outline {
      color:color($colors,danger) !important;
    }

  }
}
