<!--Theme Styled cards-->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
      <ion-row>
        <ion-col col-12>
          <ion-searchbar placeholder="Cari" [(ngModel)]="searchTerm" search-bar-bcg (ionInput)="onEventFilter('onTextChange', $event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 col-md-12 col-lg-6 *ngFor="let item of data.items;">
              <ion-card padding text-right class="card" (click)="onEvent('onDetail', item, $event)">
                  <div float-left class="card-img">
                      <img src="{{item.imageUrl}}" />
                  </div>
                  <!--Card-content-->
                  <ion-card-content>
                      <ion-card-title no-padding>
                          <h2 card-title>{{item.title}}</h2>
                      </ion-card-title>
                      <h3 card-subtitle>{{item.summary}}</h3>
                  </ion-card-content>
                  <button ion-button margin-bottom margin-top button-clear-outline round outline medium float-left left-btn (click)="onEvent('onDetail', item, $event)">
                    Detail
                  </button>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
