<ion-content>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Ubah Profil</h1>
          <form [formGroup]="profileForm">
            <ion-item no-lines padding>
              <div profilePic (click)="takePicture()" [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
                <ion-icon name="ios-camera"></ion-icon>
              </div>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="ios-people"></ion-icon>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="profileForm.controls.name.hasError('required') && profileForm.controls.name.touched">
              <p>Field nama tidak boleh kosong</p>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="ios-call"></ion-icon>
              <ion-input type="num" formControlName="mobileNo"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="profileForm.controls.mobileNo.hasError('required') && profileForm.controls.mobileNo.touched">
              <p>Field nama tidak boleh kosong</p>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="md-mail"></ion-icon>
              <ion-input type="email" disabled formControlName="email"></ion-input>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" (click)="dismiss('Y')">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="dismiss('N')">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
