
<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title>
      <button *ngIf="showDrop==true" ion-button icon-right (click)="changeProperty('ListPropertyPage')" style="background-color: transparent" >
        {{pageTitle}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <span *ngIf="showDrop==false">{{pageTitle}}</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="jobContainer">
      <ion-grid>
        <ion-row >
          <ion-col col-4 *ngFor="let category of categoryList">
            <ion-row>
              <ion-col>
                <button ion-button icon-only (click)="detailCategory(category.code)">
                  <img src="assets/img/dashboard/news-{{category.code}}.png">
                </button>
                <label>{{category.description}}</label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  <ion-fab right bottom *ngIf="isSecurity == false">
    <button ion-fab icon-only color="danger" (click)="openModalPanic()"><ion-icon class="warga-icon-wargakita-call-security"></ion-icon></button>
    <!--<button ion-fab icon-only color="danger" class="press-big" (press)="callSOS()"><ion-icon class="warga-icon-wargakita-call-security"></ion-icon></button>-->
  </ion-fab>
</ion-content>
