page-dashboard {
  .warga-icon-wargakita-call-security{
    color: color($colors,light);
    transform: scale(2);
    line-height: .40;
  }

  .fab{
    width: 70px !important;
    height: 70px !important;
  }

}

.header-ios .toolbar-ios .title-ios{
  padding: 0px;
}

.jobContainer{
  .grid .col {
    text-align: center;
    .button-ios{
      font-size: 2em;
      height: 18vh;
      background-color: transparent;
      max-width: 100%;
      .button-inner{
        color:color($colors,primary);
      }
    }
  }
}
