<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Masukan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content white-background>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <div class="form">
          <ion-item no-padding transparent>
            <ion-label floating>Judul</ion-label>
            <ion-input required type="text" [(ngModel)]="title"></ion-input>
          </ion-item>
          <ion-item no-padding transparent>
            <ion-label floating>Deskripsi</ion-label>
            <ion-textarea required [(ngModel)]="description"></ion-textarea>
          </ion-item>
          <ion-item no-padding transparent no-lines>
            <ion-label>Upload</ion-label>
            <ion-input required type="button" [(ngModel)]="fileName" ></ion-input>
            <button clear item-right icon-only icon-right ion-button (click)="takeOrUploadPicture()"></button>
          </ion-item>
          <ion-item no-lines>
            <div class="imgBg" [ngStyle]="{'background-image':'url(' + base64Image + ')'}" (click)="takeOrUploadPicture()">
              <ion-icon *ngIf="base64Image===''||base64Image==undefined||base64Image==null" class="icon-plus-box"></ion-icon>
            </div>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="ng" (click)="submit()">Kirim</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="secondary" (click)="clear()">Reset</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
