page-feedback {
  .form {
    padding: 10px;
    overflow: hidden;

    .item-inner {
      margin-left: 10px !important;
    }

    .item-md ion-icon[item-left] {
      margin: 25px 0 0;
    }

    .item-inner {
      border-bottom-color: theme-colors('mainColors', 'primary') !important;
      box-shadow: none !important;
    }

    [button-clear] {
      margin-top: 15px;
    }

    [button-camera]{
      font-size: 2em;
      height: 3em;
      border: 1px solid black;
      border-radius: 30px;
      background-color: transparent;
      max-width: 100%;
      .button-inner{
        color:color($colors,primary);
      }
    }

    [title] {
      font-size: $h1-font-size;
      color: theme-colors('textColors', 'primary');
      text-transform: uppercase;
      margin: 0 10px;
    }

    .imgBg{
      width:120px;
      height:120px;
      position:relative;
      margin:auto;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      .icon{
        @include position(auto,0px ,0px ,auto );
        font-size: 2.3em;
        line-height: 120px;
      }
    }
  }
}
