<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>{{title}} Kendaraan</h1>
          <form [formGroup]="vehicleForm">
            <ion-item no-lines padding>
              <div profilePic (click)="takeOrUploadPicture()" [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
                <ion-icon name="ios-camera"></ion-icon>
              </div>
            </ion-item>
            <ion-item>
              <ion-label floating>Plat No</ion-label>
              <ion-input required type="text" formControlName="plateNo"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="vehicleForm.controls.plateNo.hasError('required') && vehicleForm.controls.plateNo.touched">
              <p>Plat No wajib diisi!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Tipe Kendaraan</ion-label>
              <ion-select formControlName="vehicleType">
                <ion-option *ngFor="let type of listVehicleType" value="{{type.id}}">{{type.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item  class="error-box" *ngIf="vehicleForm.controls.vehicleType.hasError('required') && vehicleForm.controls.vehicleType.touched">
              <p>Tipe Kendaraan wajib diisi!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Warna Kendaraan</ion-label>
              <ion-input type="text" formControlName="color"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="vehicleForm.controls.color.hasError('required') && vehicleForm.controls.color.touched">
              <p>Warna kendaraan wajib diisi!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Merk</ion-label>
              <ion-input type="text" formControlName="brand"></ion-input>
            </ion-item>
            <ion-item floating>
              <ion-label floating>Masa Berlaku STNK</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY"  max="2050" [min]="minDate" formControlName="taxDueDate"></ion-datetime>
              <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" [disabled]="!vehicleForm.valid" (click)="dismiss('Y')">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="dismiss('N')">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
