<ion-content padding>
  <div class="main-content">
    <ion-grid>
      <ion-row >
        <ion-col text-center *ngFor="let security of listSecurity">
          <button ion-button icon-only btn-panic-security [style.backgroundColor]="security.color" (click)="changeSecurity(security)">
            <img src="assets/img/policeman.png">
          </button>
          <ion-label text-center>{{security.name}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col text-center>
          <!--<button ion-button block color="dg" (click)="callSecurity()">
            <ion-icon item-left><i icon-side class="icon icon-phone-in-talk"></i></ion-icon>
          </button>-->
          <ion-icon (click)="callSecurity()"><i icon-side class="icon icon-phone-in-talk"></i></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon (click)="sendSms()"><i icon-side class="icon icon-email"></i></ion-icon>
          <!--<button ion-button icon-start block color="dg" (click)="sendSms()">
            <ion-icon item-left><i icon-side class="icon icon-email"></i></ion-icon>
          </button>-->
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button block color="secondary" (click)="dismiss()">Tutup</button>
  </div>
</ion-content>
