page-panic {
  .content{
    background:rgba(color($colors,dg),.75);
    .scroll-content{
      display:flex;
      align-items:center;
    }
    .main-content {
      padding: 20px;
      background-color: white;
      position:relative !important;
      margin: 0 auto;
    }
    .date-content{
      font-size: smaller;
      font-style: italic;
      color: #8e9093;
    }
    .button-ios.activated{
      background-color: color($colors,secondary);
    }
  }

  [btn-panic-security]{
    height: 20vw;
  }

  [icon-side]{
    -webkit-text-fill-color: color($colors,ng);
    -webkit-text-stroke-width: 0px;
    font-size: 10vh;
  }
}
