<ion-grid>
  <ion-row>
    <ion-col>
      <button ion-button icon-only (click)="onEvent('onShare', data.share, $event)" color="primary" clear>
    <ion-icon class="share-icon" name="share"></ion-icon>
  </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only (click)="onEvent('onWaShare', data.wa, $event)" color="primary" clear>
    <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
  </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only (click)="onEvent('onFbShare', data.fb, $event)" color="primary" clear>
    <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
  </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only (click)="onEvent('onTwShare', data.tw, $event)" color="primary" clear>
    <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
  </button>
    </ion-col>
  </ion-row>
</ion-grid>