page-profile {
  .contactForm{
    [profilePic]{
      border-radius: 50px;
      width: 100%;
      margin: 0 auto;
    }
  }

  [icon-side]{
    -webkit-text-fill-color: color($colors,dark);
    -webkit-text-stroke-width: 0px;
  }
}

