<ion-header>
  <ion-navbar>
    <!--<ion-title>{{PROFILE | translate}}</ion-title>-->
    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row wrap>
      <ion-col>
        <div class="contactForm">
          <ion-item no-lines padding>
            <div profilePic [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
            </div>
          </ion-item>
          <ion-item text-center>
            <ion-label>{{user.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon item-left><i icon-side class="icon icon-phone-in-talk"></i></ion-icon>
            <ion-label>{{user.mobileNo}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon item-left><i icon-side class="icon icon-email"></i></ion-icon>
            <ion-label>{{user.email}}</ion-label>
          </ion-item>
          <ion-item *ngIf="isSecurity==false">
            <ion-icon item-left><i icon-side class="icon icon-home-variant"></i></ion-icon>
            <ion-label>{{user.unitName}}</ion-label>
          </ion-item>
          <ion-item *ngIf="isSecurity==false">
            <ion-icon item-left><i icon-side class="icon icon-city"></i></ion-icon>
            <ion-label>{{user.areaName}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon item-left><i icon-side class="icon icon-map-marker"></i></ion-icon>
            <ion-label>{{user.propertyName}}</ion-label>
          </ion-item>

          <!--<ion-item>
            <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
              <ion-option value="id">Indonesia</ion-option>
              <ion-option value="en">English</ion-option>
            </ion-select>
          </ion-item>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="ng" (click)="presentModal('EditProfilePage')">Ubah</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="danger" (click)="doLogout()">Keluar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
