<ion-header>
  <ion-navbar>
    <ion-title>Pesan Fasilitas</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list-header header-bcg no-padding no-lines *ngIf="noFacilities==true">
    <ion-icon white icon-large item-start>
      <i class="icon icon-alert-octagon"></i>
    </ion-icon>
    <h1 header-title>Tidak ada fasilitas</h1>
  </ion-list-header>
  <ion-slides #facility *ngIf="noFacilities==false" class="slides-facility" (ionSlideDidChange)="facilityChanged()" [pager]="true" [centeredSlides]>
    <ion-slide *ngFor="let item of facilities">
      <img src="{{item.picture}}">
      <div class="centered">{{item.name}}</div>
      <span hidden id="facilityId">{{item.id}}</span>
      <button ion-button class="swiper-button-prev" (click)="this.facilitySlide.slidePrev()"></button>
      <button ion-button class="swiper-button-next" (click)="this.facilitySlide.slideNext()"></button>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="noFacilities==false">
    <ion-row>
      <ion-col class="date-display">{{displayDay}}</ion-col>
      <!--<ion-col class="day-display"></ion-col>-->
      <ion-col class="month-display">{{displayDate}} {{viewTitle}}</ion-col>
    </ion-row>
    <!--<ion-row>-->
      <calendar [eventSource]="eventSource"
                [calendarMode]="calendar.mode"
                [currentDate]="calendar.currentDate"
                (onTitleChanged)="onViewTitleChanged($event)"
                (onTimeSelected)="onTimeSelected($event)"
                [showEventDetail]="calendar.showEvent"
                 queryMode='remote'
                (onRangeChanged)="getNewData($event)"
                class="calendar">
      </calendar>
    <!--</ion-row>-->
  </ion-grid>
  <ion-fab #fab bottom right *ngIf="noFacilities==false">
    <button button-ion-fab ion-fab (click)="addBooking()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
