page-facility-booking {
  .date-display{
    font-size: 1.7em;
    text-align: left;
  }
  .day-display{
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
  }
  .month-display{
    text-align: right;
    font-size: 1.1em;
    margin: auto;
  }
  .grid {
    padding: 0px;
    .col {
      padding: $mainMarg/2;
    }
  }
  .jobContainer {
    position: relative;
    margin-bottom: 15px;
    h3 {
      color: color($colors, dg);
      font-weight: 500;
      white-space: nowrap;
      height: 30px;
      font-size: 13px !important;
      margin: 0px 0px 0px 3vh;
      padding-top: 3vh;
    }
  }
  [header-title] {
    color: theme-colors('textColors', 'accent-first') !important;
    font-size: $h3-font-size;
  }
  .table[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1]{
    padding: 7px;
  }
}
thead {
  tr {
    background-color: color($colors, dg);
    color: color($colors, light);
  }
}
.monthview-selected{
  background-color: color($colors, ng) !important;
  border-radius: 50%;
}

.slides-facility {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  height: 30vh;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: large;
  font-weight: bolder;
}

.calendar{
  max-width: 100%;
}

.swiper-button-prev{
  background-color: transparent;
  background-image: url("../assets/img/left-arrow.svg");
}

.swiper-button-next{
  background-color: transparent;
  background-image: url("../assets/img/right-arrow.svg");
}
