<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Jaga Rumah</h1>
          <form [formGroup]="jagainForm">
            <ion-item floating>
              <ion-label floating>Tanggal Mulai</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY"  max="2050" [min]="minDate" formControlName="fromDate"></ion-datetime>
              <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
            </ion-item>
            <ion-item  class="error-box" *ngIf="jagainForm.controls.fromDate.hasError('required') && jagainForm.controls.fromDate.touched">
              <p>Harap isi tanggal mulai!</p>
            </ion-item>
            <ion-item floating>
              <ion-label floating>Tanggal Akhir</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY"  max="2050" [min]="minDate" formControlName="toDate"></ion-datetime>
              <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
            </ion-item>
            <ion-item  class="error-box" *ngIf="jagainForm.controls.toDate.hasError('required') && jagainForm.controls.toDate.touched">
              <p>Harap isi tanggal akhir!</p>
            </ion-item>
            <ion-item  class="error-box" *ngIf="jagainForm.hasError('rangeError')">
              <p>Input tanggal salah!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Keterangan</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" [disabled]="!jagainForm.valid" (click)="dismiss('Y')">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="dismiss('N')">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
