<ion-item *ngIf="data != null">
    <ion-label floating>{{data.title}}</ion-label>
    <ion-select [(ngModel)]="data.selectedItem" multiple="false" #select (ionChange)="onEvent('onSelect', select.value, $event)">
        <ion-option *ngFor="let item of data.items; let i= index" [value]="item.id">{{item.title}}</ion-option>
    </ion-select>
</ion-item>
