<ion-content padding>
  <div class="appForm">
    <ion-list radio-group>
      <ion-item *ngFor="let prop of properties">
        <ion-label>{{prop.name}}</ion-label>
        <ion-radio value={{prop.id}} [checked]="prop.id==propertySelected" (ionSelect)="onChangeProperty(prop)"></ion-radio>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block color="dg" (click)="dismiss('Y')">Ok</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block color="primary" (click)="dismiss('N')">Batal</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>

