@font-face {
  font-family: 'fontello';
  src: url('../assets/fontello/fontello2.eot?96022610');
  src: url('../assets/fontello/fontello2.eot?96022610#iefix') format('embedded-opentype'),
       url('../assets/fontello/fontello2.woff2?96022610') format('woff2'),
       url('../assets/fontello/fontello2.woff?96022610') format('woff'),
       url('../assets/fontello/fontello2.ttf?96022610') format('truetype'),
       url('../assets/fontello/fontello2.svg?96022610#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96022610#fontello') format('svg');
  }
}
*/

 [class^="newicon-"]:before, [class*=" newicon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@mixin makeIcon($arg, $val) {
  .newicon-wargakita-#{$arg}:before ,
  .ion-ios-newicon-wargakita-#{$arg}-circle:before ,
  .ion-ios-newicon-wargakita-#{$arg}-circle-outline:before ,
  .ion-ios-newicon-wargakita-#{$arg}:before ,
  .ion-ios-newicon-wargakita-#{$arg}-outline:before {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(booking,'\e800');
@include makeIcon(dashboard,'\e801');
@include makeIcon(feedback,'\e802');
@include makeIcon(guard-home,'\e803');
@include makeIcon(inbox,'\e804');
@include makeIcon(info,'\e805');
@include makeIcon(member,'\e806');
@include makeIcon(request-form,'\e807');
@include makeIcon(user-profile,'\e808');
@include makeIcon(vehicle,'\e809');
@include makeIcon(visitor,'\e80a');


/*.newicon-wargakita-booking:before { content: '\e800'; } !* '' *!
.newicon-wargakita-dashboard:before { content: '\e801'; } !* '' *!
.newicon-wargakita-feedback:before { content: '\e802'; } !* '' *!
.newicon-wargakita-guard-home:before { content: '\e803'; } !* '' *!
.newicon-wargakita-inbox:before { content: '\e804'; } !* '' *!
.newicon-wargakita-info:before { content: '\e805'; } !* '' *!
.newicon-wargakita-member:before { content: '\e806'; } !* '' *!
.newicon-wargakita-request-form:before { content: '\e807'; } !* '' *!
.newicon-wargakita-user-profile:before { content: '\e808'; } !* '' *!
.newicon-wargakita-vehicle:before { content: '\e809'; } !* '' *!
.newicon-wargakita-visitor:before { content: '\e80a'; } !* '' *!*/
