@font-face {
  font-family: 'wargakita';
  src: url('../assets/fontello/wargakita/wargakita.eot?17615955');
  src: url('../assets/fontello/wargakita/wargakita.eot?17615955#iefix') format('embedded-opentype'),
  url('../assets/fontello/wargakita/wargakita.woff2?17615955') format('woff2'),
  url('../assets/fontello/wargakita/wargakita.woff?17615955') format('woff'),
  url('../assets/fontello/wargakita/wargakita.ttf?17615955') format('truetype'),
  url('../assets/fontello/wargakita/wargakita.svg?17615955#wargakita') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wargakita';
    src: url('../font/wargakita.svg?17615955#wargakita') format('svg');
  }
}
*/

[class^="warga-icon-"]:before, [class*=" warga-icon-"]:before {
  font-family: "wargakita";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@mixin makeIcon($arg, $val) {
  .warga-icon-wargakita-#{$arg}:before ,
  .ion-ios-warga-icon-wargakita-#{$arg}-circle:before ,
  .ion-ios-warga-icon-wargakita-#{$arg}-circle-outline:before ,
  .ion-ios-warga-icon-wargakita-#{$arg}:before ,
  .ion-ios-warga-icon-wargakita-#{$arg}-outline:before {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(booking,'\e800');
@include makeIcon(dashboard,'\e801');
@include makeIcon(feedback,'\e802');
@include makeIcon(guard-home,'\e803');
@include makeIcon(inbox,'\e804');
@include makeIcon(info,'\e805');
@include makeIcon(member,'\e806');
@include makeIcon(request-form,'\e807');
@include makeIcon(user-profile,'\e808');
@include makeIcon(vehicle,'\e809');
@include makeIcon(visitor,'\e80a');
@include makeIcon(security,'\e80b');
@include makeIcon(sms,'\e80c');
@include makeIcon(panic-button,'\e80d');
@include makeIcon(phone-call,'\e80e');


.warga-icon-wargakita-booking:before { content: '\e800'; } /* '' */
.warga-icon-wargakita-dashboard:before { content: '\e801'; } /* '' */
.warga-icon-wargakita-feedback:before { content: '\e802'; } /* '' */
.warga-icon-wargakita-guard-home:before { content: '\e803'; } /* '' */
.warga-icon-wargakita-inbox:before { content: '\e804'; } /* '' */
.warga-icon-wargakita-info:before { content: '\e805'; } /* '' */
.warga-icon-wargakita-member:before { content: '\e806'; } /* '' */
.warga-icon-wargakita-request-form:before { content: '\e807'; } /* '' */
.warga-icon-wargakita-user-profile:before { content: '\e808'; } /* '' */
.warga-icon-wargakita-vehicle:before { content: '\e809'; } /* '' */
.warga-icon-wargakita-visitor:before { content: '\e80a'; } /* '' */
.warga-icon-wargakita-security:before { content: '\e80b'; } /* '' */
.warga-icon-wargakita-sms:before { content: '\e80c'; } /* '' */
.warga-icon-wargakita-call-security:before { content: '\e80d'; } /* '' */
.warga-icon-wargakita-phone-call:before { content: '\e80e'; } /* '' */
