page-add-member {
  .error-box {
    .label-ios {
      margin: 0px 8px 0px 0px;
    }
    background-color: transparent !important;
    p{
      color: red !important;
    }
  }

  .content{
    background:rgba(color($colors,dg),.75);
    .scroll-content{
      display:flex;
      align-items:center;
    }
    .appForm{
      background-color: color($colors,primary);
      border-radius: $border-radius;
      box-shadow: $box-shadow-z2;
      padding: $mainMarg*2;
      overflow: auto;
      overflow-y: scroll;
      white-space: nowrap;
      margin: auto;

      .item-inner {
        border-bottom-color: theme-colors('mainColors', 'primary') !important;
        box-shadow: none !important;
      }

      [button-clear] {
        margin-top: 15px;
      }

      [title] {
        font-size: $h1-font-size;
        color: theme-colors('textColors', 'primary');
        text-transform: uppercase;
        margin: 0 10px;
      }
      [profilePic]{
        border-radius: 50px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .grid{
      height: 100%;
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }
}

.label-ios[floating] {
  margin: 0px 8px 0px 0px;
}

