<ion-content>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>{{title}} Anggota</h1>
          <form [formGroup]="memberForm">
            <ion-item no-lines padding>
              <div profilePic (click)="takeOrUploadPicture()" [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
                <ion-icon name="ios-camera"></ion-icon>
              </div>
            </ion-item>
            <ion-item>
              <ion-label floating>Nama</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="memberForm.controls.name.hasError('required') && memberForm.controls.name.touched">
              <p>Field nama tidak boleh kosong</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Tanggal Lahir</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" formControlName="dateOfBirth"></ion-datetime>
              <ion-icon name="md-arrow-dropdown" item-right></ion-icon>
            </ion-item>
            <ion-item class="error-box" *ngIf="memberForm.controls.dateOfBirth.hasError('required') && memberForm.controls.dateOfBirth.touched">
              <p>Field tanggal lahir tidak boleh kosong</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Tempat Lahir</ion-label>
              <ion-input type="text" formControlName="placeOfBirth"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="memberForm.controls.placeOfBirth.hasError('required') && memberForm.controls.placeOfBirth.touched">
              <p>Field tempat lahir tidak boleh kosong</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Jenis Kelamin</ion-label>
              <ion-select formControlName="gender" >
                <ion-option *ngFor="let gender of listGender" value="{{gender.id}}">{{gender.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item  class="error-box" *ngIf="memberForm.controls.gender.hasError('required') && memberForm.controls.gender.touched">
              <p>Field jenis kelamin tidak boleh kosong</p>
            </ion-item>
            <!--<ion-item>
              <ion-label floating>Relasi Keluarga</ion-label>
              <ion-select formControlName="relationship">
                <ion-option *ngFor="let relation of listRelation" value="{{relation.id}}">{{relation.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="error-box" *ngIf="memberForm.controls.relationship.hasError('required') && memberForm.controls.relationship.touched">
              <p>Field relasi tidak boleh kosong</p>
            </ion-item>-->
            <ion-item>
              <ion-label floating>Pekerjaan</ion-label>
              <ion-input type="text" formControlName="profession"></ion-input>
            </ion-item>
            <!--<ion-item>
              <ion-label floating>ID KTP</ion-label>
              <ion-input type="text" formControlName="idKTP"></ion-input>
            </ion-item>-->
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="text" formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
            </ion-item>
            <ion-item class="error-box" *ngIf="(memberForm.controls.email.hasError('pattern'))">
              <p>Email tidak valid</p>
            </ion-item>
            <!--<ion-item>
              <ion-label floating>Alamat KTP</ion-label>
              <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>-->
            <!--<ion-item>
              <ion-label floating>Pendidikan</ion-label>
              <ion-input type="text" formControlName="education"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Hobby</ion-label>
              <ion-input type="text" formControlName="hobby"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Keterangan</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label floating>Status</ion-label>
              <ion-select formControlName="status" >
                <ion-option *ngFor="let status of listStatus" value="{{status.id}}">{{status.name}}</ion-option>
              </ion-select>
            </ion-item>-->
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" [disabled]="!memberForm.valid" (click)="dismiss('Y')">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="dismiss('N')">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
