<ion-header>
  <ion-navbar>
    <ion-title>Tentang Kita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row wrap>
        <ion-col>
          <div class="contactForm">
            <ion-item no-lines no-padding transparent no-border>
              <div profilePic [ngStyle]="{'background-image':'url(assets/img/logoWhiteBg.png)','background-size':'100px'}">
              </div>
            </ion-item>
            <ion-item text-center no-padding transparent no-border no-lines>
              <ion-label label-text>Version {{version}}</ion-label>
            </ion-item>
            <ion-item no-padding transparent no-border no-lines margin-left>
              <ion-icon item-right><i icon-side class="icon icon-chevron-right"></i></ion-icon>
              <ion-label label-text (click)="shareThis()">Rekomendasikan ke temen anda</ion-label>
            </ion-item>
            <ion-item no-padding transparent no-border no-lines margin-left>
              <ion-icon item-right><i icon-side class="icon icon-chevron-right"></i></ion-icon>
              <ion-label label-text><a no-underline href="https://www.warga-kita.com">Website resmi kami</a></ion-label>
            </ion-item>
            <ion-item no-padding transparent no-border no-lines margin-left>
              <ion-icon item-right><i icon-side class="icon icon-chevron-right"></i></ion-icon>
              <ion-label label-text><a no-underline href="tel:+6287785341608">Hubungi kami</a></ion-label>
            </ion-item>

            <ion-item padding-left transparent no-border no-lines>
              <ion-icon item-left><i icon-side class="icon icon-phone-in-talk"></i></ion-icon>
              <ion-label label-subtext><a no-underline href="tel:+6287785341608">+62 877-8534-1608</a></ion-label>
            </ion-item>
            <ion-item padding-left transparent no-border no-lines>
              <ion-icon item-left><i icon-side class="icon icon-email"></i></ion-icon>
              <ion-label label-subtext>support@warga-kita.com</ion-label>
            </ion-item>
            <ion-item padding-left transparent no-border no-lines>
              <ion-icon item-left><i icon-side class="icon icon-map-marker"></i></ion-icon>
              <ion-label label-subtext>EqualsMark Team, Sawangan, Depok, Jawa Barat, 16510</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item text-center no-padding transparent no-border no-lines style="min-height: 0.2rem;">
          <ion-label footer-text-title>Equalsmark IT Division</ion-label>
        </ion-item>
        <ion-item text-center no-padding transparent no-border no-lines>
          <ion-label footer-text>Copyright © 2018 Equalsmark. All Right Reserved</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
