page-about-us {
  .contactForm{
    [profilePic]{
      border-radius: 50px;
      width: 100%;
      margin: 0 auto;
    }

    [no-underline]{
      text-decoration: none;
    }

  }

  [icon-side]{
    -webkit-text-fill-color: color($colors,dark);
    -webkit-text-stroke-width: 0px;
  }

  [label-text]{
    font-size: $h2-font-size;
    font-weight: bold;
  }

  [label-subtext]{
    font-size: $h4-font-size;
    white-space: initial;
  }

  [footer-text-title]{
    font-size: $h4-font-size;
  }

  [footer-text]{
    font-size: $h5-font-size;
  }

}
