<ion-split-pane when="ios" id="otherMenu">
  <!-- Menu Main Top  -->
  <ion-menu [content]="content" *ngIf="params != null" (ionOpen)="sideMenuOpen()" type="overlay">
    <ion-header  header-background-image [ngStyle]="{'background-image': 'url(' + this.bgImg + ')'}">
      <!--<ion-thumbnail>
        <img [src]="params.image">
      </ion-thumbnail>
      <h2 item-title text-center>{{params.title}}</h2>
      <h3 item-title text-center>{{params.subtitle}}</h3>-->
    </ion-header>
    <!-- Menu Main List -->
    <ion-content main-menu white-background>
      <ion-list no-margin no-padding>
        <button menuClose ion-item padding-left no-lines item-title *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon icon-small item-left>
            <i icon-side class="icon {{p.icon}}"></i>
          </ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
