// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Settings Style Main Meni
[header-background-image] {
  height: 200px;
  background-size: cover;
  background-position: center;
  //@include darkening-blend-mode;

  img {
    padding-top: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 9;
    max-width: 60px;
  }

  [item-title] {
    color: theme-colors('textColors', 'accent-first') !important;
    position: relative;
    z-index: 9;
  }
}
// Settings Main  Menu

[main-menu] {
  button {
    padding-left: 30px;
  }


  .item-inner {
    margin-left: 0 !important;
  }

  [icon-small] {
    margin-top: 18px !important;
  }

  [icon-side]{
    -webkit-text-fill-color: theme-colors('textColors', 'primary');
    -webkit-text-stroke-width: 0px;
  }
}
// Settings Submenu

[submenu] {
  ion-label {
    padding-left: 30px !important;
  }
}

[profilePic]{
  height: 15vh !important;
  max-width: 100px;
  max-height: 100px;
}

@mixin whiteNormal($height,$lineNum){
  white-space: normal;
  max-height: $height;
  line-height: $height / $lineNum;
  display: block;
  overflow: hidden;
}
@mixin centerHeight($height){
  display:inline-block;
  height:$height;
  width: $height;
  line-height:$height;
  min-height: $height;
  text-align:center;
}
@mixin borderRadius($height){
  @include centerHeight($height);
  border-radius:50%;
}

.imgBg{
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center center;
}

.label-ios{
  margin : 0px;
}



.profileContainer{
  text-align:center;
  background-color:color($colors,dg);
  position:relative;
  padding:$mainMarg*2 $mainMarg;

}
