<!-- Theme Tabs Footer tab - icons -->
  <ion-tabs #tabs tabsPlacement='bottom' tabsHighlight="true">
    <ion-tab [tabIcon]="item.icon" [tabBadge]="item.badge" [tabTitle]="item.title" [root]="item.page" [style.color]="'#FFFFFF'" *ngFor="let item of data;let i = index"></ion-tab>
  </ion-tabs>
<!--[tabBadge]="shareData.getMyValue()"
https://forum.ionicframework.com/t/increase-tabbadge-value-with-click-event/53513
-->
