/*  # Style Tabs Footer tab - icons
==================================*/
tabs-layout-2 {
  [background-size] {
    @include darkening-blend-mode;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .tab-decription {
      display: table-cell;
      vertical-align: middle;
      padding: 0 30px;
      z-index: 9;
      position: relative;
    }
    scroll-content {
      background-color: transparent !important;
    }
  }
  .tab-button[aria-selected=true] {
    background:#6FD7F7 ;
  }
}
