<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <ion-title>Permintaan Formulir</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><img alt="logo" height="40" src="assets/img/logoWhite.png" ></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content white-background>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <div class="form">
          <ion-item no-padding transparent>
            <select-layout-3
              [data]="params.data"
              [events]="params.events">
            </select-layout-3>
          </ion-item>
          <ion-item no-padding transparent>
            <ion-buttons>
              <button ion-button block color="ng" (click)="displayDesc()">Minta Dokumen</button>
            </ion-buttons>
          </ion-item>
          <ion-item no-padding transparent no-border no-lines>
            <ion-textarea [attr.rows]="myRow" readonly [(ngModel)]="description"></ion-textarea>
          </ion-item>
          <ion-item no-lines no-padding>
            <a [href]="urlDownload">{{fileNameDownload}}</a>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
