page-welcome {
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }
  .content{
    p{
      @extend h4;
      color: color($colors,primary);
      margin:0px;
      @include whiteNormal(50px,1);
      font-size:1.3rem!important;
      font-weight: bold;
    }
    @extend .imgBg;
    .scroll-content{
      padding:20px ;
    }
    .logo{
      background-color: color($colors,dg);
      height: 40vh;
      text-align: center;
      margin-bottom: 15px;
      max-width: 100%;
      h3{
        @include whiteNormal(20px,1);
        color:color($colors,light1);
        font-size:2.6rem!important;
      }
      p{
        margin: 0px;
        @include whiteNormal(18px,1);
        color:color($colors,light1);
      }
    }
    .groubBtns{
      padding:$mainMarg;
      background:rgba( color($colors,light1),.45);
      .button{
        background-color: color($colors,light1);
        .button-inner{
          color: color($colors,secondary);
          font-weight:bold;
        }
        &:first-of-type{
          margin-bottom:$mainMarg;
        }
        .icon{
          display:inline-block;
          line-height:$mainHeight - 2px;
          margin: 0px $mainMarg/2;
          font-size:2.2rem;
          color:color($colors,ng);
        }
      }
    }
    %orStyle{
      content:'';
      height:1px;
      background-color:color($colors,dark);
      position:absolute;
      top:15px;
      width:calc(50% - 20px);
    }
    .or{
      position:relative;
      margin:$mainMarg 0px;
      text-align:center;
      span{
        color:color($colors,light);
        @include borderRadius(30px);
        background-color:color($colors,dark);
        margin:0px 5px;
      }
      &::after{
        right:0px;
        @extend %orStyle;
      }
      &::before{
        left:0px;
        @extend %orStyle;
      }
    }
    [text-align-left]{
      float:left;
    }
    [text-align-right]{
      float:right;
    }
    .socialMedia{
      margin: 20px auto 10px;
      overflow: hidden;
      padding-left: 22vw;
      button {
        margin: 1%;
        width: 30%;
        display: block;
        float: left;
      }
      .icon {
        font-size:3rem;
      }

      > button:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.list-ios{
  margin-bottom: 0px;
  .item-ios{
    margin-bottom: 0px;
    font-size: 1.5rem;
    height: 7vh;
    .list-header-ios{
      color: color($colors,secondary);
      font-weight: bolder;
    }
  }
}
