<ion-content scroll="false">
  <div class="logo">
    <img style="max-height: 100%" src="assets/img/logoTextWhite.png"/>
  </div>
  <div class="appForm">
    <ion-list>
      <ion-item>
        <ion-icon item-left name="md-mail"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="account.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-lock"></ion-icon>
        <ion-input [type]="passwordType" placeholder="Password" [(ngModel)]="account.password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    </ion-list>
    <div style="clear: both;">
      <p text-align-left (click)="registerUser()">Register</p>
      <p text-align-right (click)=" presentModal('ForgotPasswordPage')">Lupa Password ?</p>
    </div>
  </div>
  <button ion-button block color="dg" (click)="loginEmail()">Login</button>
  <div class="or">
    <span>OR</span>
  </div>
  <div class="socialMedia">
    <button ion-button clear color="facebook" (click)="loginWithFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
    <!--<button ion-button clear color="twitter" (click)="doLoginWithTwitter()"><ion-icon name="logo-twitter"></ion-icon></button>-->
    <button ion-button clear color="google"(click)="loginWithGoogle()"><ion-icon name="logo-google"></ion-icon></button>
  </div>
</ion-content>

