<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Pesan {{facility.name}}</h1>
          <h3 sub-title text-right>Date {{booking.selectedDate}}</h3>
          <form [formGroup]="bookingForm">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Waktu Mulai</ion-label>
                    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="startTime" [hourValues]="hourValues" [minuteValues]="minuteValues"></ion-datetime>
                  </ion-item>
                  <ion-item class="error-box" *ngIf="bookingForm.controls.startTime.hasError('required') && bookingForm.controls.startTime.touched">
                    <p>Maaf, kolom ini wajib diisi!</p>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Waktu Akhir</ion-label>
                    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="endTime" [hourValues]="hourValues" [minuteValues]="minuteValues"></ion-datetime>
                  </ion-item>
                  <ion-item class="error-box" *ngIf="bookingForm.controls.endTime.hasError('required') && bookingForm.controls.endTime.touched">
                    <p>Maaf, kolom ini wajib diisi!</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item class="error-box" *ngIf="bookingForm.hasError('rangeError') && bookingForm.controls.endTime.touched">
              <p>Input jam salah!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Deskripsi</ion-label>
              <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item class="error-box" *ngIf="bookingForm.controls.description.hasError('required') && bookingForm.controls.description.touched">
              <p>Maaf, kolom ini wajib diisi!</p>
            </ion-item>
            <ion-item no-lines>
              <ion-textarea [attr.rows]="myRow" readonly formControlName="tnc"></ion-textarea>
            </ion-item>
            <ion-item no-lines padding>
              <ion-label item-title item-start>Saya Setuju</ion-label>
              <ion-checkbox formControlName="cbTnc" item-end [checked]="cbTnc"></ion-checkbox>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" [disabled]="!bookingForm.valid" (click)="save()">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="cancel()">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-list class="event-detail-container" has-bouncing="false" overflow-scroll="false" white-background>
            <p style="margin-top: 10px">Daftar Pesan</p>
            <ion-item *ngFor="let event of listBooking">
              <ion-grid>
                <ion-row>
                  <ion-col col-7>
                    <p>{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}</p>
                  </ion-col>
                  <ion-col col-5>
                    <p>{{event.title}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item *ngIf="listBooking.length==0">
              <p class="no-events-label">Tidak ada pemesanan hari ini</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
