<ion-content>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Detail Anggota</h1>
          <form [formGroup]="memberForm">
            <ion-item no-lines padding>
              <div profilePic [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
              </div>
            </ion-item>
            <ion-item>
              <ion-label floating>Nama</ion-label>
              <ion-input readonly type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tanggal Lahir</ion-label>
              <ion-input readonly type="text" formControlName="dateOfBirth"></ion-input>
              <!--<ion-datetime readonly displayFormat="DD MMM YYYY" formControlName="dateOfBirth"></ion-datetime>-->
            </ion-item>
            <ion-item>
              <ion-label floating>Tempat Lahir</ion-label>
              <ion-input type="text" readonly formControlName="placeOfBirth"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Jenis Kelamin</ion-label>
              <ion-input readonly type="text" formControlName="gender"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Pekerjaan</ion-label>
              <ion-input readonly type="text" formControlName="profession"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="text" readonly formControlName="email"></ion-input>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button ion-button block color="secondary" (click)="dismiss()">Tutup</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
