page-detail-news {
  .header-image {
    height: 40vh;
    text-align: center;
    img{
      height: 40vh;
      //width: 100vw;
    }
  }

  .main-content {
    padding: 20px;
    background-color: white;
    position:relative !important;
  }
  .date-content{
    font-size: smaller;
    font-style: italic;
    color: #8e9093;
  }
}

.news-content{
  white-space: pre-line;
}
