<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <h1 title text-right>Tambah Pengunjung</h1>
          <form [formGroup]="visitorForm">
            <ion-item no-lines padding *ngIf="isSecurity == false">
              <div profilePic (click)="takeOrUploadPicture()" [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
                <ion-icon name="ios-camera"></ion-icon>
              </div>
            </ion-item>
            <ion-item no-lines padding *ngIf="isSecurity == true">
              <div profilePic (click)="takePicture()" [ngStyle]="{'background-image':'url(' + base64Image + ')','background-size':'100px'}">
                <ion-icon name="ios-camera"></ion-icon>
              </div>
            </ion-item>
            <ion-item *ngIf="isSecurity == false">
              <ion-label floating>Tanggal Berkunjung</ion-label>
              <ion-datetime displayFormat="DD MMM YYYY" max="2050" [min]="minDate" formControlName="dateVisit"></ion-datetime>
            </ion-item>
            <ion-item class="error-box" *ngIf="isSecurity == false && visitorForm.controls.dateVisit.hasError('required') && visitorForm.controls.dateVisit.touched">
              <p>Maaf, kolom ini wajib diisi!</p>
            </ion-item>
            <ion-item *ngIf="isSecurity == false">
              <ion-label floating>Jam Berkunjung</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="timeVisit"></ion-datetime>
            </ion-item>
            <ion-item class="error-box" *ngIf="isSecurity == false && visitorForm.controls.timeVisit.hasError('required') && visitorForm.controls.timeVisit.touched">
              <p>Maaf, kolom ini wajib diisi!</p>
            </ion-item>

            <ion-item *ngIf="isSecurity == true">
              <ion-label floating>Area</ion-label>
              <ion-select (ionChange)="getBlock();" formControlName="area">
                <ion-option *ngFor="let area of listArea" value="{{area.id}}">{{area.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isSecurity == true">
              <ion-label floating>Sub Area</ion-label>
              <ion-select (ionChange)="getUnit();" formControlName="block">
                <ion-option *ngFor="let block of listBlock" value="{{block}}">{{block}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isSecurity == true">
              <ion-label floating>Unit</ion-label>
              <ion-select formControlName="unitId" >
                <ion-option *ngFor="let unit of listUnit" value="{{unit.id}}">{{unit.name}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>Nama</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item  class="error-box" *ngIf="visitorForm.controls.name.hasError('required') && visitorForm.controls.name.touched">
              <p>Maaf, kolom ini wajib diisi!</p>
            </ion-item>
            <ion-item>
              <ion-label floating>No Kendaraan</ion-label>
              <ion-input type="text" formControlName="vehicleNo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>No Telp</ion-label>
              <ion-input type="text" formControlName="phoneNo"></ion-input>
            </ion-item>
            <ion-item class="error-box" *ngIf="visitorForm.controls.phoneNo.hasError('required') && visitorForm.controls.phoneNo.touched">
              <p>Maaf, kolom ini wajib diisi!</p>
            </ion-item>
          </form>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button block color="ng" [disabled]="!visitorForm.valid" (click)="dismiss('Y')">Simpan</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="secondary" (click)="dismiss('N')">Batal</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

