page-add-visitor {

  .error-box {
    background-color: transparent !important;
    p{
      color: red !important;
    }
  }

  .content{
    background:rgba(color($colors,dg),.75);
    .scroll-content{
      display:flex;
      align-items:center;
    }
    .appForm{
      background-color: color($colors,primary);
      border-radius: $border-radius;
      box-shadow: $box-shadow-z2;
      padding: $mainMarg*2;
      overflow: auto;
      overflow-y: scroll;
      white-space: nowrap;
      margin: auto;

      .item-inner {
        border-bottom-color: theme-colors('mainColors', 'primary') !important;
        box-shadow: none !important;
      }

      [button-clear] {
        margin-top: 15px;
      }

      [title] {
        font-size: $h1-font-size;
        color: theme-colors('textColors', 'primary');
        text-transform: uppercase;
        margin: 0 10px;
      }
      [profilePic]{
        border-radius: 50px;
        width: 100px;
        margin: 0 auto;
      }
    }
    .grid{
      height: 100%;
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }

  /*.content {
    background:rgba(color($colors,dg),.75);
    .scroll-content{
      overflow:auto;
      display:flex;
      align-items:center;
    }
    .appForm{
      width:98%;
      padding:$mainMarg*2 ;
      background-color: color($colors,ng);
      margin:auto;
      //border-radius:$appFormRadius;
      p{
        margin:0px 0px $mainMarg;
        //font-size:$mainFont!important;
        font-weight:500;
        color:color($colors,ng);
        @include whiteNormal(30px,2);
      }
      .list-ios{
        .item-ios{
          &.item-block{
            background-color: color($colors,light);
            padding: 1px 4px;
          }
        }
      }
    }
    .grid{
      padding:0px;
      margin-top:$mainMarg;
      .col{
        padding:0px;
      }
    }
  }*/
}
