<ion-header>
  <ion-navbar>
    <ion-title>Pendaftaran</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row wrap padding>
      <ion-col>
        <div class="appForm">
          <!--<form>-->
          <ion-item>
            <ion-label color="primary" floating>Email</ion-label>
            <ion-input type="email" readonly [(ngModel)]="account.email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
          </ion-item>
          <ion-item *ngIf="isEmail">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Nama</ion-label>
            <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>No HP</ion-label>
            <ion-input type="tel" [(ngModel)]="account.mobileNo" name="mobileNo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Properti</ion-label>
            <ion-select (ionChange)="getArea();" [(ngModel)]="account.property" [selectOptions]="selectOptions">
              <ion-option *ngFor="let prop of properties" value="{{prop.id}}">{{prop.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Area</ion-label>
            <ion-select (ionChange)="getBlock();" [(ngModel)]="account.area">
              <ion-option *ngFor="let area of listArea" value="{{area.id}}" [selected]="selectedArea == area.name">{{area.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Sub Area</ion-label>
            <ion-select (ionChange)="getUnit();" [(ngModel)]="account.block">
              <ion-option *ngFor="let block of listBlock" value="{{block}}" [selected]="selectedBlock == block">{{block}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Unit</ion-label>
            <ion-select [(ngModel)]="account.unitId" >
              <ion-option *ngFor="let prop of listUnit" value="{{prop.id}}" [selected]="selectedUnit == prop.name">{{prop.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Status</ion-label>
            <ion-select [(ngModel)]="account.status" >
              <ion-option *ngFor="let status of listStatus" value="{{status.id}}" [selected]="selectedStatus == status.id">{{status.name}}</ion-option>
            </ion-select>
          </ion-item>
          <!--</form>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button block ion-button color="dg" (click)="doSignup()">Simpan</button>
</ion-footer>
