page-detail-mesage {
  .content{
    background:rgba(color($colors,dg),.75);
    .scroll-content{
      display:flex;
      align-items:center;
    }
    .main-content {
      padding: 20px;
      background-color: white;
      position:relative !important;
      margin: 0 auto;
    }
    .date-content{
      font-size: smaller;
      font-style: italic;
      color: #8e9093;
    }
  }

}
