<ion-content padding>
  <div class="main-content">
    <h2>{{messageDetail.title}}</h2>
    <p class="date-content">{{messageDetail.dateTime}}</p>
    <p class="news-content">{{messageDetail.content}}</p>
    <button ion-button block color="secondary" (click)="dismiss()">Close</button>
  </div>
</ion-content>
