<!--
  Generated template for the DetailCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daftar</ion-title>
  </ion-navbar>

</ion-header>


<google-card-layout-2 [data]="params.data" [events]="params.events"></google-card-layout-2>
